@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@keyframes scale
{
  100%
  {
    transform: scale(1);
  }
}

@keyframes fade-in-out
{
  10%
  {
    opacity: 1;
    filter: blur(0);
  }
  90%
  {
    opacity: 1;
    filter: blur(0);
  }
  100%
  {
    opacity: 0;
    filter: blur(4px);
  }
}

.container
{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1
{
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

span
{
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) 
{
  animation: fade-in-out 3.6s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-iteration-count: infinite;
}

span:nth-child(2)
{
  animation: fade-in-out 3.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-iteration-count: infinite;
}
